<td><%= id %></td>
<td><%= name %></td>
<td><%= created_at %></td>
<td><a href="#/<%= id %>" class="btn btn-mini">Show</a>
<a href="#/<%= id %>/edit" class="btn btn-mini">Edit</a>
<a href="#/<%= id %>/destroy" class="btn btn-mini btn-danger destroy">Destroy</a></td>
